<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>SplashScreenScene</string>
		<string>GameLogoScene</string>
		<string>MainScene</string>
		<string>TutorialScene</string>
		<string>SettingsScene</string>
		<string>Ranking</string>
		<string>StarsCollect</string>
		<string>Store</string>
		<string>Unlock</string>
		<string>CreditsScene</string>
		<string>StoreScene</string>
		<string>WorldScene</string>
		<string>EasyWorldScene</string>
		<string>MediumWorldScene</string>
		<string>HardWorldScene</string>
		<string>GameScene</string>
		<string>GameOverScene</string>
		<string>PauseScene</string>
		<string>HelperClass</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
